<% provide(:title, 'Contact') %>
<%= render 'layouts/header' %>
<div class="container">
  <h2>Contact Us</h2>
  <div class="row">
    <div class="col-12">
      <i class="material-icons md-48 lightcorale" style="display: inline-block;
          width: 100%;">mail_outline</i>
      <h4 style="text-align: center; color: lightcoral;">Need to talk to us about our price list<br> or just to say hi. Send
        us a message
        and we will<br> get back to you real quick</h4>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>