<%= render 'layouts/header' %>
<div class="row">
  <div class="col-12">
    <div class="jumbotron jumboimage">
      <div class="jumbotext">
        <h1>Simple, safe and affordable</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1 style="text-align: center">Our <span style="color: #9BA6BA;">Hostels</span> Can Offer</h1>
  </div>
</div>
<%= render 'layouts/footer' %>