<%= render 'layouts/header' %>
<p style="padding: 50px">
<div class="row">
  <div class="col-12">
    <h3 class="jumbotext">Simple, safe and affortable</h3>
  </div>
</div>
<p style="padding: 50px">

<div class="row">
  <div class="col-12">
    <h1 style="text-align: center">Our <span style="color: lightcoral;">Hostels</span> Can Offer</h1>
    <p style="padding: 10px;"></p>
  </div>
</div>
<%= render 'layouts/footer' %>