/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,400,500,600,700,800');

* {
  font-family: 'Roboto Mono', monospace;
}

nav li {
  display: inline;
  padding-right: 50px;
}

footer {
  text-align: center;
  font-weight: 300;
  padding: 20px;
  background-color: #333333;;
}

footer p {
  color: #FFFFFF;
}

footer a {
  color: #FFFFFF;
}
