/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,400,500,600,700,800');

* {
  font-family: 'Roboto Mono', monospace;
}

.bg-hostel-white {
  background-color: white;
  color: lightcoral;
}

nav li {
  display: inline;
  padding-right: 50px;
}


.navbar a {
  color: lightcoral;
}  ul li a {
  color:lightcoral;
}

.navbar a:hover {
  color: #C1C1C1;
}  ul li a:hover {
  color:#C1C1C1;
}

footer {
  text-align: center;
  font-weight: 400;
  padding: 20px;
  background-color: white;
}  p {
  color: lightcoral;
}  a {
  color: lightcoral;
} a:hover {
          color: #C1C1C1;
  text-decoration: none;
        }

.jumbotext {
  text-align: center;
  color: #333333;
}

.jumboimage {
  width: 100%;
  height:300px;
  display: block;
  background-size: cover;
  background-image: image-url('1.jpg');
}

.material-icons.togglewhite {
  color: lightcoral;
}

i.togglewhite {
  text-align: center;
}


/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: lightcoral;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}