<footer>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= link_to 'Contact Us', contact_path %>
    </div>
    <div class="col-12 col-sm-4">
      <p>08023092572</p>
      <p>info@testimonyhostels.com</p>
      <p>12, Alakija Street, Yaba, Lagos</p>
    </div>
    <div class="col-12 col-sm-4">
      <%= link_to 'About Us', about_path %>
    </div>
  </div>
  <p style="padding: 10px;"></p>
  <div class="row">
    <div class="col-12">
      <p>&copy; 2018 Testimony Hostels Limited</p>
    </div>
  </div>
  <p style="padding: 10px;"></p>
  <div class="row">
    <div class="col-12">
      <p>Made with <i class="material-icons" style="color: #d43c67; font-size: 15px;">favorite</i> by
        <%= link_to 'Inioluwa Akinleye', 'https://inioluwaakin.com' %></p>
    </div>
  </div>
</footer>